<h1>Ranking#index</h1>
<table>
  <tr>
    <th>Nickname</th>
    <th>Puntos</th>
  </tr>
  <% @ranking.each do |player| %>
    <tr>
      <td><%= player.nickname %></td>
      <td><%= player.points %></td>
    </tr>
  <% end %>
</table>
