<h1>Ranking#match</h1>
<p>Find me in app/views/ranking/match.html.erb</p>
<div>
  <p>Jugador 1:</p>
  <br>
  <p><%= @first_player.nickname %></p>
</div>
<br>
<div>
  <p>Jugador 2:</p>
  <br>
  <p><%= @second_player.nickname %></p>
</div>


